<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="csrf-token" content="<%= csrfToken %>" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title><%= title %></title>

         <!-- Bootstrap CSS -->
         <link href="/fontawesome/css/all.min.css" rel="stylesheet" />
         <link href="/css/bootstrap.min.css" rel="stylesheet" />
         <link href="/css/app.css" rel="stylesheet" />

         <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
         <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
         <!--[if lt IE 9]>
             <script src="js/vendor/html5shiv.min.js"></script>
             <script src="js/vendor/respond.min.js"></script>
         <![endif]-->
        </head>
    <body>
        <div class="container">