.headerCart {
    position: relative;
}
.cartTotlaItems {
    position: absolute;
    right: -7px;
    top: 0;
    background-color: #2eb8d0;
    height: 20px;
    width: 20px;
    color: #fff;
    border-radius: 50%;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
.cartIcon {
    font-size: 22px;
    cursor: pointer;
}
